extends layouts/layouts

block stylesheets
    link(rel="stylesheet", href="/css/index.css")


block content 
    header 
        h1.logo Pictionary 
        nav 
            ul.nav-list 
                li.nav-item
                    a.nav-link(href="#") Info
                li.nav-item
                    a.nav-link(href="#") Source Code
                li.nav-item
                    a.nav-link(href="#") Developer
    main 
        .container
            .btn-group 
                button.button.button-block.btn-active#random-play-button Play Randoms 
                button.button.button-block#custom-play-button Play Custom 
            .form-content#random-room
                h2 Play a Random Game
                form.random-form#random_join_room(action="#") 
                    .form-group 
                        label(for="username") Enter Your Username
                        input.form-control#username(type="text", name="")
                    
                    button.button.button-block#join_random_room Play with Randoms

            .form-content#custom-room.dissappear
                h2 Join Game
                form.random-form#random_join_room(action="#") 
                    .form-group 
                        label(for="username") Enter Your Username
                        input.form-control#username(type="text", name="")
                    
                form.random-form#random_join_room(action="#") 
                    .form-group 
                        label(for="username") Enter Your Username
                        input.form-control#username(type="text", name="")
                    
                    button.button.button-block#join_random_room Join Game
                h2 Create New Game
                form.random-form#random_join_room(action="#") 
                    .form-group 
                        label(for="username") Enter Your Username
                        input.form-control#username(type="text", name="")
                    
                form.random-form#random_join_room(action="#") 
                    .form-group 
                        label(for="username") Your Generated Room ID
                        .room-id-readonly-field
                            input.form-control#generate-random-room-id(type="text", name="" readonly value="Random Room ID")  
                            span#generate-random-room-id-copy-button
                                i.far.fa-clipboard
                                span.copy-message 
                                    | Room ID Copied!
                    button.button.button-block#join_random_room Create Game

block scripts 
    script(src="/js/index.js") 